################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TextCore/TextCore/TextCoreControl/obj
/TextCore/TextCoreTest/obj
/TextCore/TextCore/TextCore/obj/
/TextCore/TextCore/CopyDLLToBend/obj/
/Bend/obj/
/.vs
