################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TextCore/TextCore/TextCoreControl/obj
/TextCore/TextCoreTest/obj
/TextCore/TextCore/TextCore/obj/
/TextCore/TextCore/CopyDLLToBend/obj/
/Bend/obj/
Bend/.vs/
Publish/
.vs
/Bend/.vs/Bend/v15
/Bend/bin/
/TextCore/Controls/.vs/DirectXControls/v15/
/TextCore/Controls/Release/
/TextCore/TextCore/.vs/
/TextCore/TextCore/CopyDLLToBend/Release/
/TextCore/TextCore/CopyDLLToBend/bin/Release
/TextCore/TextCore/bin/
/TextCore/TextCore/TextCore/bin/Release
/TextCore/TextCore/TextCoreControl/bin
/TextCore/TextCore/TextCore/bin/Debug
TextCore/Controls/.vs/
TextCore/Controls/x64/
TextCore/TextCore/CopyDLLToBend/app.config
TextCore/TextCore/TextCore/app.config
TextCore/TextCoreTest/bin/
x64
x86