################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TextCore/TextCore/TextCoreControl/obj
/TextCore/TextCoreTest/obj
/TextCore/TextCore/TextCore/obj/x86
/TextCore/TextCore/CopyDLLToBend/obj/x86/Release
/Bend/obj/x86
