;
; TextCore language detector config file
; Filename Extensions Map - Maps known file extensions to .syn files to use for syntax highlighting
; Language Heuristsic Map - Maps regex strings to .syn files to use when matched
; [Filename Extensions Map] should be before the [Language Hueristics Map] section.
;

[Filename Extensions Map]
cpp    	atlwtl.syn
cxx    	atlwtl.syn
hxx    	atlwtl.syn
h      	atlwtl.syn
c      	atlwtl.syn
cs     	csharp8.syn
asp    	csharp8.syn
as     	actionscript3.syn
ada    	ada.syn
bat    	cmd.syn
cmd    	cmd.syn
cbl    	cobol-97.syn
css    	css2dot1.syn
f      	f90.syn
fs     	fsharp.syn
htm    	html.syn
html   	html.syn
jsp    	jsp4.syn
java   	java1_6.syn
js     	javascript.syn
tex    	latex.syn
latex  	latex.syn
lisp   	lisp.syn
m      	objc.syn
m      	matlabR12.1.syn
pl     	perl3upd.syn
php    	php.syn
py     	python3.syn
reg    	reg.syn
svg    	svg.syn
rb     	ruby_on_rails.syn
sql    	sql.syn
tcl    	tcl.syn
vb     	vbdotnet9.syn
vbs    	vbscript56.syn
xaml   	xaml.syn
xhtml  	xhtml.syn
xml    	xml.syn
xls    	xml-excel_2002.syn
xqy    	xqy.syn
xsl    	xsl.syn
xslt   	xslt.syn
y      	yacc.syn
;
; File extensions we dont want to highlight
;
txt    	none
ini    	none

[Language Hueristics Map]
<!DOCTYPE|<html>|<body>                          	html.syn
(\#\w+|body|li|html|h\d|\.\w+)\s*{               	css2dot1.syn
^#include                                        	atlwtl.syn
^using System(.*);$                              	csharp8.syn
^\<\?php                                         	php.syn
^@ECHO (OFF|ON)                                  	cmd.syn
^import java(.*);$                               	java1_6.syn
^#(.*)perl                                       	perl3upd.syn
^\[HKEY_                                         	reg.syn
^\s*\<svg                                        	svg.syn
^\s*\<\?xml                                      	xml.syn
^package code                                    	actionscript3.syn
^\s*with                                         	ada.syn
^(IDENTIFICATION|PROCEDURE) DIVISION.            	cobol-97.syn
^\s*PROGRAM\s\w+\s*$                             	f90.syn
^open System                                     	fsharp.syn